.directory {
    background: $site-background;
    position: relative;
    @include e('container') {
        min-height: 100vh;
        @include flex();
        padding: pem(8);
    }
    @include e('overlay') {
        position: absolute;
        top: 0%;
        opacity: .4;
        background: gray;
        height: 100%;
        width: 100%;
        z-index: 100;
    }
}