.directory {
    background: $site-background;
    position: relative;
    display: flex;
    flex-direction: column;
    @include e('container') {
        @include flex();
        min-height: 100vh;
    }
    @include e('overlay') {
        position: absolute;
        top: 0%;
        opacity: .4;
        visibility: visible;
        background: gray;
        height: 100%;
        width: 100%;
        z-index: 100;
        transition: all .3s ease-in-out;

        @include m('inactive') {
            opacity: 0;
            visibility: hidden;
        }
    }
}