.site {
    background: $site-background;
    position: relative;
    @include e('container') {
        position: absolute;
        @include flex();
        padding: pem(8);
    }
    @include e('overlay') {
        position: absolute;
        top: 50%;
        background: gray;
        height: 100vh;
        z-index: 100;
    }
}